#sidebar {
    box-sizing: border-box;
    height:100vh;
    width:250px;
    background-color: var(--secondary-clr);
    padding: 5px 1em;

    position: sticky;
    top: 0;
    align-self: start;

}

#sidebar ul {
    list-style-type: none;
    margin-top:25px;
}

#sidebar ul li.active a{
    background-color: var(--accent-clr);
    color: #ffffff;
}

#sidebar a {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar a:hover {
    background-color: var(--hover-clr);
    transition: 0.4s ease;
}

.topbar {
    background-color: var(--secondary-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:50px;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #ffffff;
}
.topbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 36px;
  height: 36px;
}

.topbar a:hover {
    background-color: var(--hover-clr);
    transition: 0.5s ease;
}