#sidebar {
    box-sizing: border-box;
    height:100vh;
    width:250px;
    background-color: var(--secondary-clr);
    padding: 5px 1em;

    position: sticky;
    top: 0;
    align-self: start;

}

#sidebar ul {
    list-style-type: none;
    margin-top:25px;
}

#sidebar ul li.active a{
    background-color: var(--accent-clr);
    color: #ffffff;
}

#sidebar a {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar a:hover {
    background-color: var(--hover-clr);
    transition: 0.4s ease;
}

.topbar {
    background-color: var(--secondary-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:50px;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #ffffff;
}
#toggleTheme {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-clr);
    border:none;
}

#toggleTheme:hover {
    background-color: var(--hover-clr);
    transition: 0.5s ease;
    cursor: pointer;
}

#toggleTheme svg {
    fill:var(--text-clr);
}

#toggleTheme svg:first-child {
    display:none;
}

.lightmode #toggleTheme svg:last-child {
    display:none;
}

.lightmode #toggleTheme svg:first-child {
    display:block;
}