.searchBar {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 200px;
    color:var(--secondary-clr);
}

.staffTable {
    margin-top: 20px;
    background-color: var(--secondary-clr);
    border-radius: 10px;
    padding: 20px;
}

.statusBadge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.in-operation {
    background-color: #c0392b;
    color: white;
}

.available {
    background-color: #27ae60;
    color: white;
}

.standby {
    background-color: #e67e22;
    color: white;
}


